.app-header {
  background-color: var(--color-header);
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

.app-header h1 {
  color: #ffffff;
  margin: 0;
}

.app-header .container {
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}
